<a href="https://colab.research.google.com/github/ravi-prakash1907/Prioritize-vaccine-delivery-using-AI-ML/blob/main/JSON_to_Dataframe_from_API.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Dataframe from the Public API**

### Library

In [8]:
import json
import pandas as pd
from urllib.request import urlopen

**get JSON data**

In [9]:
def getJson(urlLoc):
  with urlopen(urlLoc) as rsp:
    gotRaw = rsp.read()

  data = json.loads(gotRaw)
  return data

In [10]:
#location = "https://api.covid19india.org/misc.json"

# get location
location = input("Enter the location (URL): ")

data = getJson(location)
data.keys()

Enter the location (URL): https://api.covid19india.org/misc.json

dict_keys(['district_meta_data', 'state_meta_data'])

---

** creating dataframes

In [11]:
df_district_meta_data = pd.DataFrame(data['district_meta_data'])
df_district_meta_data.head()

                   district  ... statecode
0                  Nicobars  ...        AN
1  North and Middle Andaman  ...        AN
2             South Andaman  ...        AN
3                 Anantapur  ...        AP
4                  Chittoor  ...        AP

[5 rows x 6 columns]

In [12]:
df_state_meta_data = pd.DataFrame(data['state_meta_data'])
df_state_meta_data.head()

  abbreviation  no population                      stateut
0           AN  29     397000  Andaman and Nicobar Islands
1           AP   1   52221000               Andhra Pradesh
2           AR   2    1504000            Arunachal Pradesh
3           AS   3   34293000                        Assam
4           BR   4  119520000                        Bihar